:root {
    --color-1: #1230AE;
    --color-2: #6C48C5;
    --color-3: #C68FE6;
    --color-4: #FFF7F7;
    --background-color: var(--color-4);
    --text-color: var(--color-1);
    --button-color: var(--color-2);
    --button-hover-color: var(--color-3);
    --font-size-title: 4rem;
    --font-size-text: 3rem;
    --font-size-button: 2rem;
}

body {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: var(--font-size-title);
    margin: 0;
}

.myContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

